{% extends "dashboard_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block dashboard %}
<div class="container-fluid">
    <div class="row ">
        <div class="col-md-12 mx-auto bg-gray">
            <h1 style="text-align: center;color:whitesmoke;font-size: 50px;background: linear-gradient(white,gray);">Add Treatment</h1>
            <form action="" method="POST" enctype="multipart/form-data" style="font-size: 20px;color:forestgreen; font-style: italic;" class="font-weight-bold">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" value="Add treatment" class="btn btn-success">
            </form>
        </div>
    </div>
</div>
{% if status %}
    <script>
        alert("{{status}}");
        window.location="/patient_dashboard"
    </script>
{% endif %}
{% endblock %}