{% extends "HeadFoot.html" %}
{% load static %}
{% block myblock %}
    <style>
        .bg {
        
        background:url("{% static 'images/BkApptImages/Banner2.jpg' %}");
        background-size: 100% 100%;
        
        background-size: cover;
        height:300px;
        width: 100%;
      } 
        .ht
        {
        height:100px;
        }
        /* .hg{
          background: url("{% static 'images/ContactUsImgs/ContactImage.jpg' %}");
          background-size: cover;
        } */
        cd{
          background-color:rgba(166, 167, 170, 0.027);
          text-align: center;
        }
    </style>


<div class="container-fluid p-3">
<div class="row bg text-center font-weight-bold text-white;">
<div class="col-md-12 cd p-4 mt-2">
<h1 class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s" style="font-family:fantasy ;font-size:50px;font-style: oblique;color: brown;">Contact Us</h1>
<p style="font-size: 20px;"><a href="{% url 'Homes' %}" class="text-white" style="font-family: cursive;font-style: italic;" >Home &gt;</a> <a href="{% url 'ContactUS'%}" class="text-white" style="font-family: cursive;font-style: italic;" class="text-white">Contact &gt;</a></p>
     </div>
  </div>
</div>
<div class="container-fluid  p-3">
  <div class="row mx-auto">
    <div class="col-md-6 mx-auto  p-5 bg-white">
      <h1 class="wow fadeInUp" style="color:sandybrown;text-align:center;font-size: 30px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">CONTACT HERE</h1>
      <form action="" method="post">
        {% csrf_token %}
        <div class="form-group-lg">
          <input type="text " class="form-control" placeholder="Enter Name...." name="name" >
        </div><br/>
        <div class="form-group-lg">
          <input type="email " class="form-control" placeholder="Enter Email...." name="email" >
        </div><br/>
        <div class="form-group-lg">
          <input type="number" class="form-control" placeholder="Enter Your Contact Number...." name="contact" >
        </div><br/>
        <div class="form-group-lg">
          <input type="text " class="form-control" placeholder="Enter Address...." name="address" >
        </div><br/>
        <div class="form-group-lg">
          <input type="text " class="form-control" placeholder="Subject...." name="subject" >
        </div><br/>
        <div class="form-group-lg">
          <input type="text " class="form-control" placeholder="Message...." name="message" >
        </div><br/>
        <div class="form-group-lg">
          <input type="submit"  class="btn btn-primary rounded-pill mx-auto" value="Send Message"  >
        </div></br>

      </form>
    </div>
    <div class="col-md-6 bg-gray ">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.056283563223!2d76.69247711471061!3d30.716818081642636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5a42944be3%3A0xb713d3a3e26a89c1!2sSachTech%20Solution%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1580985121539!5m2!1sen!2sin" width="100%" height="540" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
     </div>
     </div>
  
     <div class="container-fluid px-0"> 
      <div class="row" style="background-color: cornsilk;">
        <div class="col-md-12  text-muted wow fadeInRight">
         <p style="font-size: 30px;color: yellowgreen; margin-left: 30px;margin-top:10px;margin-bottom:10px;font-family: cursive;font: outline;text-align:center">Contact Information</p>
        </div>
        <div class="col-md-3 wow fadeInLeft ">
            <div class="bg-light ht p-3">
            <i class="fas fa-home" style="text-align:center;font-size:35px"></i><br/>
            Address: 198 West 21th Street, Suite 721 New York Ny 10016
        </div>
        </div>
        <div class="col-md-3 wow fadeInLeft">
        <div class="bg-light ht p-3">
        <i class="fas fa-phone" style="text-align:center;font-size:35px"></i><br/>
        Phone: + 1235 2355 98
        </div>
        </div>
        <div class="col-md-3 wow fadeInLeft">
        <div class="bg-light ht p-3">
        <i class="fas fa-rocket" style="text-align:center;font-size:35px"></i><br/>
        Email: info@yoursite.com 
        </div>
        </div>
    <div class="col-md-3 wow fadeInLeft">
      <div class="bg-light ht p-3">
         <i class="fas fa-home" style="text-align:center;font-size:35px"></i><br/>
         Website yoursite.com</div>
      </div> 
    </div> 
    </div> 
<div class="row">
    <div class="col-md-12 bg-light">
    <h2 class="text-center" style="color:chocolate;font-family: cursive;font-style: italic;">Previous Feedback</h2>
    <h4 class="text-center"><em>Total: {{messages|length}}</em></h4>
    <table class="table table-bordered table-striped table-hover">
      <thead class="thead-dark" style="background-color:lightgray;">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Contact Number</th>
          <th>Address</th>
          <th>Subject</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
          {% for msg in messages%}
             <tr>
               <td>{{msg.id}}</td>
               <td>{{msg.name}}</td>
               <td>{{msg.email}}</td>
               <td>{{msg.contact_number}}</td>
               <td>{{msg.address}}</td>
               <td>{{msg.subject}}</td>
               <td>{{msg.added_on}}</td>
             </tr>
          {% endfor %}
      </tbody>
    </table>
    </div>
</div>
</div>
{% if status %}
<script>
  alert("{{status}}");
</script>
{% endif %}
{% endblock %}



