{% extends "HeadFoot.html" %}
{% load static %}
{% block head %}
{% endblock %}
{% block myblock %}
<style>
    .jumbotron{
        text-shadow:16px 9px 9px yellow;
        box-shadow:0px 0px 8px red;
        background:linear-gradient(lightgreen,lightblue,darkblue)" 
    }
    .h{
        text-align: center;
        font-size: 50px;
        color:green;
    }
    .s{
        padding-top: 150px;
    }


</style>
{% if user.is_superuser %}
    <div class="container-fluid mx-0">
        <div class="row">
            <div class="col-md-12 mt-4">
                <div class="jumbotron" >
                    <h1 class="h"> Sorry {{user.username}} You are not allowed here!!!!!</h1>
                </div>
            </div>
        </div>
    </div>
{% else %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" style="background: linear-gradient(grey,whitesmoke);" >
            <nav class="navbar navbar-dark p-5">
                <a href="" class="navbar-brand font-weight-bold" style="font-size: 30px;color:darkorange">
                    <div class="text-center">
                        {% if data.profile_pic %}
                        <img src="/media/{{data.profile_pic}}" style="height:100px;width:90px;border-radius:50%">
                        {% else %}
                        <img src="{% static 'images/user.jpg' %}" style="height:100px;width:90px;border-radius:50%">
                        {% endif %}
                    </div>
                    <p>{{user.username}}</p>
                </a>
               
                <ul class="navbar-nav" style="font-size: 20px;color:green;">
                    <div class="s">
                           
                    <li class="nav-item">
                        <a href="{% url 'patient_dashboard'%}" class="nav-link">View Profile</a>
                    </li><hr></hr>
                    <li class="nav-item">
                        <a href="{% url 'edit_profile'%}" class="nav-link">Edit Profile</a>
                    </li><hr></hr>
                    <li class="nav-item">
                        <a href="{% url 'change_password' %}" class="nav-link">Change  Password</a>
                    </li><hr></hr>
                    <li class="nav-item">
                        <a href="{% url 'treatment_history' %}" class="nav-link">Treatment History</a>
                    </li><hr></hr>
                    <li class="nav-item">
                        <a href="{% url 'cart' %}" class="nav-link">My Cart</a>
                    </li><hr></hr>
                    
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a href="{% url 'add_treatment_view' %}" class="nav-link">Add Treatments</a>
                    </li><hr></hr>
                    <li class="nav-item">
                        <a href="{% url 'my_treatments' %}" class="nav-link">My Treatments</a>
                    </li><hr></hr>
                    <li class="nav-item">
                        <a href="{% url 'sendemail' %}" class="nav-link">Send Email</a>
                    </li><hr></hr>
                    
                    {% endif %}
                    <li class="nav-item">
                        <a href="{% url 'user_logout' %}" class="nav-link">Logout</a>
                    </li><hr></hr>
                </div>
                </ul>

            </nav>
        </div>
        <div class="col-md-9">
            {% block dashboard %}
            
            {% endblock %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

