{% extends "dashboard_base.html" %}
{% block dashboard %}
<div class="container-fluid">
    <div class="row ">
        <div class="col-md-6 mx-auto p-4">
            <div class="card shadow shadow-lg ">
                <div class="card-body">
                  <h2 class="text-danger">Are you sure you want to delete it?</h2>
                  <img src="/media/{{treatment.treatment_image}}" alt="" height="200" width="100%">
                   <h4>{{treatment.treatment_name}}</h4>
                <div class="mt-4">
                    <a href="{% url 'delete_treatment' %}?tid={{treatment.id}}&&action=confirm" class="btn btn-danger">Confirm Delete</a>
                    <a href="{% url 'my_treatments' %}" class="btn btn-warning">Cancel</a>
                </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% if status %}
<script>
    alert("{{status}}");
    window.location = "/my_treatments"
</script>
{% endif %}
{% endblock %}
