{% extends 'Department.html' %}
{% load static %}



{% block myblock %}
<link rel="stylesheet" href="{% static 'css/doctors.css' %}">
<style>
    .x{
        background:url("{% static 'images/BkApptImages/Banner2.jpg' %}");
        background-size: 100% 100%;
        
        background-size: cover;
        height:300px;
    }
</style>


<div class="container-fluid bg-white">
<div class="row x element-animate" style="background-size:100% 100%; background-attachment: fixed;">
    <div class="col-md-12 text-white text-center py-5 trans">
        <div class="py-5">
            <h1 class="wow fadeInDown " style="font-family: fantasy;color:brown;font-style: italic;margin-top:100px">All Doctor's</h1>
            <div class="hr m-auto bg-white wow fadeInDown"></div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="row element-animate">
                {% if len > 0 %}
                    {% for doctor in doctors %}
                        <div class="col-md-3">
                            <div class="cards border-0 doc-link">
                                <div class="doc-img-box" style="height: 200px; overflow: hidden;">
                                    <img class="card-img-top doc-img" src="/media/{{doctor.profile_pic}}" alt="" height="400px" width="400px" style="margin-top:5px;border-radius: 20px ;">
                                </div>
                                <div class="py-2 text-center doc-bg">
                                    <h5><a href="{% url 'doctor_profile' %}?id={{doctor.user.id}}" class="text-decoration-none doc-link-inner" style="font-family: cursive;color: lemonchiffon;">Dr. {{doctor.user.first_name}} {{doctor.user.last_name}}</a></h5>
                                    <p class="doc-text">{{doctor.specialization}}</p>
                                    <div class="line"></div><div class="py-2"><i class="fa fa-rupee-sign doc-text"></i><a href="" class="text-decoration-none doc-link-inner"> {{doctor.fee}}</a></div>
                                    
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                        <h1 class="text-warning py-5 my-5">Doctors under this department will come soon...</h1>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
