{% extends 'HeadFoot.html' %}
{% block myblock %}
<div class="container-fluid bg-white">
    <div class="row">
        <div class="col-md-6 bg-gray mx-auto my-5 p-5 text-center" style="box-shadow:0px 0px 10px black;margin-left: 300px;margin-top:100px;margin-bottom:100px;"> 
            <h1 class="text-warning" style="font-style: italic;font-family: cursive;">Click Here to continue</h1>
            {{form.render}}
        </div>
    </br>
    </div>

</div>
{% endblock %}