{% extends 'dashboard_base.html' %}
{% load static %}
{% block myblock %}
                <div class="row bg-white">
                    <div class="col-md-12 p-3">
                        <h5>Reviews</h5>
                        {% if reviews %}
                        <table class="table">
                            <thead class=" text-center">
                            <tr>
                                <th>Name</th>
                                <th>Subject</th>
                                <th>Comment</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for review in reviews %}
                                <tr class="text-center">
                                <td>
                                    <div>
                                    {% for patient in patients %}
                                        {% if patient.user.id == review.patient.id %}
                                            {% if patient.profile_pic %}
                                            <img src="/media/{{patinet.profile_pic}}" alt="" width="25" height="25" class="rounded">
                                            {% else %}
                                            <img src="/static/images/profile_pic.png" alt="" width="25" height="25" class="rounded">
                                            {% endif %}
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                    <small>{{ review.patient.first_name }} {{ review.patient.last_name }}</small>
                                    </td>
                                <td>{{ review.subject }}</td>
                                <td>{{ review.comment }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                    {% endif %}
                    </div>
                </div>       
                        
                

{% endblock %}
