
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'Bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'fonticon/css/all.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body{
            background-image: url("{% static 'images/LogInImages/LOGIN.jpg' %}");background-attachment: fixed;
            background-size: cover; font-family: 'Times New Roman', Times, serif;
        }
        .wrapper{
             height: 420px; width: 400px; color: wheat;
             top: 50%;left: 50%;padding: 60px 30px;
             position: absolute; transform: translate(-50%,-50%);
             box-sizing: border-box;box-shadow: 8px 8px 50px;border-radius: 70px 0 70px 0;
             color:plum;
}
h1{
    margin: 0;padding: 0;font-weight: bold; font-size: 22px; color:white; text-align: center;
    margin-bottom: 8%; font-family: 'Times New Roman', Times, serif;
}
.wrapper input{
    width: 100%;margin-bottom: 20px;
}
.wrapper input[type=text],.wrapper input[type=password]{
    border: none; border-bottom: 1px solid pink; background: transparent;outline: none; 
    height: 30px; font-size: 16px; opacity: 1;color:#ccc;
}
.wrapper input[type=submit]{
    border: none; outline: none; height: 40px; background: #f6648b;color:navy;font-size: 14px;
    font-weight: bold;
}
.wrapper input[type=submit]:hover{
    cursor: pointer;
}
.wrapper a{
    font-size: 14px; text-decoration: none;color:navy;opacity: 0.8;
}
.wrapper a:hover{
    color: #fff;opacity: 1;
}
.bottom-text{
    color: violet;
}
.bottom-text input{
    width: 10%; float: left;
}
.bottom-text a{
    float: right;
}
.socials{
    margin-top: 12%; text-align: center;
}
.socials a{
    width: 30px; height: 30px; display: inline-block; border: 1px solid #f6648b;
    border-radius: 50%; margin: 0 5px;
}
.socials a:nth-child(1){
    background: #3b5998;
}
.socials a:nth-child(1){
    background: #55acee;
}
.socials a:nth-child(1){
    background: #bd081c;
}
.socials a:nth-child(1){
    background: #0077b5;
}
.socials a i{
    padding: 3px 0;

}
.overlay-area{
    position: absolute; background-color: rgba(0, 0,0, 0.6);z-index: -5;height: 100%;width: 100%;
    top: 0;bottom: 0;
}
</style>
</head>
<body >
    <div class="wrapper">
        <h1> LOGIN </h1>
            <form action="{% url 'login_page' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>Username</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                            </div>
                                            <input type="text" name="username" class="form-control" placeholder="Enter Username">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-key"></i>
                                                </span>
                                            </div>
                                            <input type="password" name="password" class="form-control" placeholder="Enter Password">
                                        </div>                                    
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="submit" class="btn btn-success">
                                    </div>
                                    <div class="bottom-text">
                                        <input type="checkbox" name="remember" checked="checked"> Remember me
                                        <a href="#">Forgot Password ?</a>
                                  </div>
                                  <div class="socials">
                                         <a href="#"><i class="fa fa-facebook"></i></a>
                                         <a href="#"><i class="fa fa-twitter"></i></a>
                                         <a href="#"><i class="fa fa-pinterest"></i></a>
                                         <a href="#"><i class="fa fa-linkedin"></i></a>
                                  </div>
                                </form>
                             
                            </div>
      

    <div class="overlay-area"></div>
    {% if status %}
        <script>
            alert("{{status}}");
            window.location="/HomePage/"
        </script>
    {% endif %}
</body>
</html>
