{% extends "dashboard_base.html" %}
{% load static %}
{% block dashboard %}
<style>
    form .row{
       margin-top:3%;
    }
</style>
<div class="container">
    <div class="row p-4">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3 style="text-align: center;">DASHBOARD &gt; EDIT PROFILE</h3>
                </div>
                <div class="card-body">
                    <form method="post"  enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <img src="/media/{{treatment.treatment_image}}" alt="" style=" height:200px; width: 50%;">
                                </div>
                                <label class="mt-3" style="font-size: 30px;">Update Profile:</label>
                                <input type="file" class="form-control" name="timg">
                            </div>
                            <div class="col-md-6 pt-3">
                                <label for="">Treatment Name</label>
                            </div>
                            <div class="col-md-6 pt-3">
                                <input type="text " class="form-control" name="tname" value="{{treatment.treatment_name}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">Treatment Category</label>
                            </div>
                            <div class="col-md-6">
                                <select name="tcat" id="" class="form-control">
                                    {% for i in department %}
                                        {% if i.id == treatment.treatment_category.id %}
                                        <option value="{{i.id}}" selected>{{i.Dep_name}}</option>
                                        {% else %}
                                        <option value="{{i.id}}">{{i.Dep_name}}</option>
                                        {% endif %}
                                    {% endfor %} 


                               
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">Treatment OriginalPrice</label>
                            </div>
                            <div class="col-md-6">
                                <input type="number" name="top" id="" class="form-control" value="{{treatment.treatment_originalprice}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">Treatment ActualPrice</label>
                            </div>
                            <div class="col-md-6">
                                <input type="number" name="tap" id="" class="form-control" value="{{treatment.treatment_actualprice}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">Details</label>
                            </div>
                            <div class="col-md-6">
                                <textarea name="des" id="" class="form-control" rows="5">
                                    {{treatment.details}}
                                </textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-warning" value="SAVE CHANGES">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% if status %}
<script>
    alert("{{status}}");
    window.location="update_treatment?tid={{id}}";
</script>
{% endif %}
{% endblock %}