.doc-link-inner{
    color: whitesmoke;
}

.doc-link-inner:hover{
    color: black !important;
}

.line{
    margin: auto;
    height: 1px;
    width: 130px;
    background: whitesmoke;
}

.doc-bg{
    background: #343a40;
}

.doc-text{
    color: #00bb6d;
}

