.a{
    background-image: url("/static/images/DoctorImages/d11.jpg");
    background-size: 100% 200%;
}
.DR{
    background-color:rgba(12, 173, 255, 0.5);
}

.b{
    width: 100%;
    background-size: cover;
    height: 250px;

    
    text-align: center;
    color: white;
}
.c{
    text-align: center;
    margin-top: 100px;
}
p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
img{
    height: 250px;
    width: 100%;
}
h1{
    margin-top: 40px;
}
.btn{
    text-align: center;
    color: rgba(39, 172, 238, 0.5);
    
}

    .btn:hover{

        background-color: rgba(12, 173, 255, 0.5);
        color: white;
    }
