*{
    margin: 0px; padding: 0px;
}
.headerset{
    background:url("/static/images/HomeImages/dc.jpg");
    background-size: cover;
    background-attachment: scroll;
    width: 100%;
    padding:120px;
}

/*................Ourservices.............*/


.imgsetting{
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
.fa-user{
    margin-top: 20px;
}
.rowsetting p{

    color: #6c757d;
}
/*////////////////////////////doctors pics//////////////////*/


.port h1{
    font-size: 50px;
    font-weight: bold;
    color: black;
}
.card{
    margin-top: 40px;
}
/*...................................ourteam..............*/

.ourteam h1{
    margin-top:10px;
    font-size: 50px;
    font-weight: bold;
    color: black;
}
.teamsetting{
    margin-top: 70px;
}
.footer{
    width: 100%;
    background: #00121b;
    display: block;
}
.inner-footer{
    width: 95%; margin: auto;
    padding: 30px 10px;
    display: flex; flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}
.footer-items{
    width: 25%;
    padding: 10px 20px; box-sizing: border-box;
}
h1{
    padding: 10px 0;
    font-size: 25px; color: #fff;
    text-transform: uppercase;
}
.footer-items p{
    color: gray;
    font-size: 16px; text-align: justify;
    line-height: 25px;
}
h2{
    margin: 10px 0;
    color: gray;
    font-size: 16px; font-weight: lighter;
    text-transform: uppercase;
}
.border {
    height: 2px; width: 40px;
    background: #ff9800;
}
ul{
    list-style: none;
    color: #fff; font-size: 15px;
    letter-spacing: 0.5px;
}
ul a{
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
}
ul a:hover {
    color: #ff9800;
}
ul li{
    margin: 10px 0;
    height: 25px;
}
li i{
    margin-right: 20px;
}
.social-media {
    width: 100%; color: #fff;
    text-align: center;
     margin-top: 12%;
    
}
.social-media a{
    text-decoration: none;
}
.social-media i{
    height: 35px;
    width: 35px; margin: 20px 5px;
    padding: 10px; color: #fff;
    border-radius: 60%;
    border: 1px solid grey;
    transition: 0.3s;
}
.social-media i:hover{
    background: grey;
}


